<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NOVO CHAMADO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content>
      <form [formGroup]="chamadoForm">
        <ion-list>
          <ion-item lines="">
            <ion-input 
            formControlName="equipamento"
            type="tel"
            placeholder="ID Equipamento"
            autofocus="true"
            inputmode="tel"
            maxlength="13"
            minlength="1"
            clearInput="true">
          </ion-input>
    
          <ion-button size="large" >
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Assunto</ion-label>
            <ion-input id="assunto" formControlName="assunto"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Descrição do problema</ion-label>
            <ion-textarea wrap="soft" spellcheck="true" rows="6" id="descricao" formControlName="descricao"></ion-textarea>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <input type="file" #fileInput (change)="upload(fileInput.files)">
          </ion-item>
        </ion-list>

      </form>

    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="left" slot="fixed">
    <ion-fab-button >
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="salvar()" [disabled]="!chamadoForm.valid">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
