<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MEU PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="perfil?.imgPerfil">
      <ion-col>
        <img [src]="perfil.imgPerfil" alt="Foto Perfil" class="profile-picture">
      </ion-col>
    </ion-row>
    <h1 *ngIf="perfil?.nomeCompleto">{{perfil.nomeCompleto}}</h1>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input readonly="true" [value]="perfil?.nomeCompleto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input readonly="true" [value]="perfil?.telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-input readonly="true" [value]="perfil?.cidade"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">UF</ion-label>
        <ion-select [ngModel]="perfil?.uf" disabled="true">
          <ion-select-option *ngFor="let uf of estados" [value]="uf.sigla">{{ uf.nome }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">País</ion-label>
        <ion-select [ngModel]="perfil?.pais" disabled="true">
          <ion-select-option readonly="true" *ngFor="let pais of paises" [value]="perfil?.pais">{{ pais.nome }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
