<ion-header>
  <app-toolbar title="Setores"></app-toolbar>

  <ion-toolbar>
    <!-- Default Searchbar -->
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content fullscreen>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Selecione o laboratório</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list lines="inset">
    <ion-item button [routerLink]="[s.id]" *ngFor="let s of sectors">
      <ion-avatar slot="start">
        <img src="../../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>{{s.nome}}</h2>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
