<ion-header>
  
  <app-toolbar title="Categorias"></app-toolbar>

  <ion-toolbar>
    <!-- Default Searchbar -->
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content fullscreen>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Selecione a categoria</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item button routerLink="/ticket-open">Administrativo</ion-item>
    <ion-item button>Financeiro</ion-item>
    <ion-item button>Desenvolvimento</ion-item>
    <ion-item button>Suporte TI</ion-item>
    <ion-item button>Laboratórios</ion-item>
    <ion-item button>Manutenção</ion-item>
    <ion-item button>Apoio</ion-item>
    <ion-item button>Outros</ion-item>
  </ion-list>
</ion-content>
