<ion-header>
  <app-toolbar title="Sobre"></app-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Desenvolvedores</ion-card-subtitle>
      <ion-card-title>LTW Software</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Luciano</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Thiago</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Wilian</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
