<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MEUS CHAMADOS</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- <ion-searchbar placeholder="Procurar"></ion-searchbar> -->
  <ion-segment value="pendente">
    <ion-segment-button value="pendente" (click)="pendentes()" >
      <ion-label>Pendentes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="finalizado" (click)="finalizados()">
      <ion-label>Finalizados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="todos" (click)="todos()">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-list lines="inset">

    <ion-card>
      <ion-card-header>
        <ion-button expand="block" (click)="abrirChamado()">ABRIR CHAMADO</ion-button>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item button *ngFor="let c of chamados" (click)="verChamado(c.id)">
          <ion-label>
            <h2>#{{c.id}} - {{c.assunto}}</h2>
            <h3>{{c.setor.nome}}</h3>
            <p>{{c.descricao}}</p>
          </ion-label>
    
          <ion-label slot="end">
            <ion-note slot="end" color="primary">{{c.status}}</ion-note>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirChamado()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

</ion-content>
