<ion-header>
  <app-toolbar title="Home"></app-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://scontent.fccm1-1.fna.fbcdn.net/v/t1.6435-1/139108241_3919224011433344_4535795337302723906_n.png?stp=dst-png_p720x720&_nc_cat=108&ccb=1-7&_nc_sid=1eb0c7&_nc_ohc=f4VlbOQxUyUAX8Jsesj&_nc_ht=scontent.fccm1-1.fna&oh=00_AT-8H9vpzAwkDHEvypAn-eixEE8A8VgJUfWE0NQOap2MtQ&oe=62B5C448" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

</ion-content>
