<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CHAMADO {{chamado?.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalhes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Data Abertura</ion-label>
          <ion-input value="{{chamado?.dataAbertura}}" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Laboratório</ion-label>
          <ion-input value="{{chamado?.setor.nome}}" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Equipamento</ion-label>
          <ion-input value="{{chamado?.equipamentoId || ''}} {{chamado?.equipamentoNome || 'Equipamento não foi identificado!'}}" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Assunto</ion-label>
          <ion-input value="{{chamado?.assunto}}" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Descrição</ion-label>
          <ion-textarea [readonly]="true">
            {{chamado?.descricao}}
          </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Dados do usuário</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">Criador</ion-label>
          <ion-input value="{{chamado?.criador.nome}}" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item *ngIf="chamado?.operador">
          <ion-label position="stacked">Responsável</ion-label>
          <ion-input value="{{chamado?.operador.id}}-{{chamado?.operador.nome}}" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item *ngIf="chamado?.finalizador">
          <ion-label position="stacked">Finalizador</ion-label>
          <ion-input value="{{chamado?.finalizador.id}}-{{chamado?.finalizador.nome}}" [readonly]="true"></ion-input>
        </ion-item>
      </ion-list>

    </ion-card-content>
    
  </ion-card>

</ion-content>
